<div class="error-container">
    <img src="/assets/img/error.png" alt="Error" />
    <ul>
        <li>
            <p>{{error}}</p>
        </li>
    </ul>

    <a href="/login" class="back-button">Volver</a>
</div>
